quobyte:
  
  # Using access keys needs a valid Quobyte license
  # See also: 
  # https://docs.quobyte.com/docs/16/latest/access_keys.html#kubernetes-csi
  enableAccessKeys: "true"
  
  # Container image used 
  clientImage: "quay.io/quobyte/quobyte-client:3" 
  # Refers to the Quobyte major version. Just sets a label.
  clientVersion: "3"

  # The target directory where Quobyte client mounts all Quobyte volumes. 
  clientMountPoint: "/home/quobyte/mounts"
  # VolumeMountPoint is related to clientMountPoint, but one directory level below. 
  volumeMountPoint: "/home/quobyte"  
  # Registry service address of a matching Quobyte cluster. Default is the k8s service name 
  # of a Quobyte cluster installed in k8s.
  # Can be set to a string of comma-separated DNS A-records or IP addressses or 
  # a SRV-record  
  #registry: arecord1.example.com,arecord2.example.com,arecord3.example.com
  #registry: 192.168.2.1,192.168.2.2,192.168.2.3
  registry: _quobyte._tcp.quobyte.default.svc.cluster.local # Assumes Quobyte services are deployed in namespace "default".

